* {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.global-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}
.top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.master {
  width: 475px;
  height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.masterTopIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
}
.masterTopIcons img {
  width: auto;
  height: auto;
  border-radius: 0;
}
#fishy {
  border-radius: 25px;
}
.master-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px 0;
}
.date {
  font-size: 40px;
  font-weight: bolder;
  margin: 20px 0 0 0;
}

.master, .iconBlock {
  border: 2px solid #f26d32;
  border-radius: 20px;
}
.special-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
}
.specialIcon {
  border: 1px solid transparent;
  border-radius: 20px;
}
.blockWithDiscription, .simpleBlock, .wavesWithDisciption {
  height: 205px;
  width: 230px;
  margin: 0 5px 10px 5px;
}
.blockWithDiscription p, .simpleBlock p, .wavesWithDisciption p {
  text-align: center;
  font-weight: bold;
}
.iconBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}
img {
  /*width: 65px;*/
  height: 130px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
}
.iconsRow img {
  width: auto;
  height: auto;;
}
.waves {
  width: 100%;
}
#time {
  font-size: 80px;
  font-weight: bolder;
  margin-top: 25px;
}
h1 {
  justify-self: flex-end;
  font-size: 40px;
  font-weight: bolder;
  background: transparent;
}
.blockContent {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  padding: 0;
  align-items: center;
}
.blockContent p {
  margin: 5px;
}
.simpleBlock .iconBlock {
  height: 135px;
}
.simpleBlock img {
  height: 65%;
  margin: 5px;
}
